<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp" >
        <p>The rootScope's favorite color:</p>
        <h1>{{color}}</h1>
        <div ng-controller="myCtrl">        
<input type="text" id="name" ng-model="bindname">
<p>enter text is {{ bindname }}</p>
<div >
{{ firstName + " " + lastName }}
<br>
<button ng-click="buttonClicked()">{{buttonName}}</button>

<div ng-show="clickChange" ng-repeat="name in getMessages()">
{{ name }}
</div>
<div>
<p>{{ getServiceData() }}</p>
</div>
<div>
  <p>The scope of the controller's favorite color:</p>
  <h1>{{color}}</h1>
</div>
</div>
</div>

<script src="myApp.js"></script>
<script src="ServiceExample.js"></script>
<script src="myCtrl.js"></script>

</body>
</html>
